body {
    font-family: lato;
    background: url(Rabbits.jpg);
}

ul {
  list-style-type: none;
}

.animal-card {
    background: whitesmoke;
    border: solid 1px rgba(128, 128, 128, 0.452);
    border-radius: 7px;
    width: 330px;
    box-shadow: 7px 8px 7px 0px rgb(93, 111, 83);
    margin:auto;
}

.image {
    border-radius: 7px;
}

.content {
    margin: 15px;
}

li > span {
    font-weight: 700;
}

.facts {
    -webkit-padding-start: 0;
}

.inner-info-card {
    width: 300px;
    border: solid 1px rgba(128, 128, 128, 0.452);
    border-radius: 7px;
    margin-top: 10px;
}

.inner-info {
    margin: 10px;
}